<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css">
  <title>Dolar</title>
</head>
<body>
  <input type="hidden" id="value" value=<%= value %> >
 
  <div class="container">
      <div class="descSite">
        <h1>BRL/USD Conversor</h1>
        <p>Converte from the brazilian 
          currency to the american dollars right now!</p>
        <p>Enter a value from 0 in any input camp and see the generated result.</p>
      </div>
      <div class="inputBox">
        <p>REAL (BRL):</p>
          <input type="number" id="num1" value="1" oninput="valdolar()">
        <p>DOLAR (USD):</p>
          <input type="number" id="num2" value=<%= value.toFixed(2) %> oninput="valreal()">
        <br>
      </div>
      <div class="credit">
        <address>
          Created by: Vitor and Bruno &copy; 2022 - Dolar Project
        </address>
      </div>
  </div>
  <script>
    const value = document.getElementById('value').value
    console.log(value)
    function valdolar(){
      var a = document.getElementById('num1')
      var b = document.getElementById('num2')
      b.value = (a.value / value).toFixed(2)
    }

    function valreal(){
      var a = document.getElementById('num1')
      var b = document.getElementById('num2')
      a.value = (b.value * value).toFixed(2)
    }
  </script>
</body>
</html>